.venv/

binary/
*-amd64.iso
*-amd64.hybrid.iso
*-amd64.img
*-amd64.tar*
*-amd64.contents
*-amd64.packages
*-amd64.zsync
*-amd64.files

.build/
build.log

cache/

chroot/
chroot.files
chroot.packages.*

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync

sha256sum.txt

